---
import Hero from "../components/inicio/Hero.astro";
import Solutions from "../components/inicio/Solutions.astro";
import Layout from "../layouts/Layout.astro";
import SolutionsExpert from "@/components/inicio/SolutionsExpert.astro";
import StackTecnology from "@/components/inicio/StackTecnology.astro";
import WeProcess from "@/components/inicio/WeProcess.astro";
import OnlyProyectos from "@/components/inicio/OnlyProyectos.astro";
import Testimonials from "@/components/inicio/Testimonials.astro";
import Cta from "@/components/inicio/Cta.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return "dark";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Layout>
  <div id="inicio">
    <Hero />
  </div>
  <div id="soluciones">
    <Solutions />
  </div>
  <SolutionsExpert />
  <div id="proceso">
    <WeProcess />
  </div>
  <div id="stack">
    <StackTecnology />
  </div>
  <div id="proyectos">
    <OnlyProyectos />
  </div>
  <div id="testimonios">
    <Testimonials />
  </div>
  <div id="countdown">
    <Cta />
  </div>
</Layout>
