<div
  class="absolute inset-0 -z-10 w-full overflow-hidden bg-[#030303]"
>
  <div
    class="absolute inset-0 bg-linear-to-br from-indigo-500/5 via-transparent to-rose-500/5 blur-3xl"
  >
  </div>

  <div class="absolute inset-0 overflow-hidden">
    <div
      class="absolute left-[-10%] top-[15%] h-36 w-lg rounded-full border-2 border-white/15 bg-linear-to-r from-indigo-500/15 to-transparent shadow-[0_8px_32px_0_rgba(255,255,255,0.1)] backdrop-blur-[2px] after:absolute after:inset-0 after:rounded-full after:bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.2),transparent_70%)] md:left-[-5%] md:top-[20%]"
    >
    </div>

    <div
      class="absolute right-[-5%] top-[70%] h-30 w-lg rounded-full border-2 border-white/15 bg-linear-to-r from-rose-500/15 to-transparent shadow-[0_8px_32px_0_rgba(255,255,255,0.1)] backdrop-blur-[2px] after:absolute after:inset-0 after:rounded-full after:bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.2),transparent_70%)] md:right-[0%] md:top-[75%]"
    >
    </div>

    <div
      class="absolute bottom-[5%] left-[5%] h-20 w-lg rounded-full border-2 border-white/15 bg-linear-to-r from-violet-500/15 to-transparent shadow-[0_8px_32px_0_rgba(255,255,255,0.1)] backdrop-blur-[2px] after:absolute after:inset-0 after:rounded-full after:bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.2),transparent_70%)] md:bottom-[10%] md:left-[10%]"
    >
    </div>

    <div
      class="absolute right-[15%] top-[10%] h-15 w-50 rounded-full border-2 border-white/15 bg-linear-to-r from-amber-500/15 to-transparent shadow-[0_8px_32px_0_rgba(255,255,255,0.1)] backdrop-blur-[2px] after:absolute after:inset-0 after:rounded-full after:bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.2),transparent_70%)] md:right-[20%] md:top-[15%]"
    >
    </div>

    <div
      class="absolute left-[20%] top-[5%] h-10 w-38 rounded-full border-2 border-white/15 bg-linear-to-r from-cyan-500/15 to-transparent shadow-[0_8px_32px_0_rgba(255,255,255,0.1)] backdrop-blur-[2px] after:absolute after:inset-0 after:rounded-full after:bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.2),transparent_70%)] md:left-[25%] md:top-[10%]"
    >
    </div>
  </div>

  <div
    class="pointer-events-none absolute inset-0 bg-linear-to-t from-[#030303] via-transparent to-[#030303]/80"
  >
  </div>
</div>
